/*
*   Libraries
*/
@import '../libraries/flickity/flickity.min.scss';
@import '../libraries/animate/animate.min.css';


/*
*   Framework
*/
@import 'framework/index.scss';

/*
*   Components
*/
@import 'components/index.scss';

/*
*   Sections
*/
@import 'sections/header.scss';

@import 'sections/intro.scss';
@import 'sections/team.scss';
@import 'sections/products.scss';
@import 'sections/dresses.scss';
@import 'sections/delivery.scss';
@import 'sections/about.scss';
@import 'sections/feedback.scss';

@import 'sections/footer.scss';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.83vmax;
    line-height: 1.145vmax;
    color: #fff;
    background-image:  url('../../assets/backgrounds/background-pattern.svg');
}

#overlay,
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    height:100%;
    width:100%;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 1000;
    transform:scale(0);
}
