.about {
    @include paddingSectionsNarrow;

    .card-img {
        border-radius: 0.208vmax;

        img {
            border-radius: 0.208vmax;
        }
    }
}


.about__description {
    margin-left: 5.625vmax;
    max-width: 54.427vw;
    width: 100%;

    .about__description-text {
        margin-top: 2.447vmax;
        margin-bottom: 1.729vmax;
        display: block;
        width: inherit;
        max-width: inherit;
        font-size: 1.145vmax;
        line-height: 1.614vmax;
    }
}