.about__description {
    margin-left: 4.687vmax;
    max-width: 54.427vw;
    width: 100%;

    .about__description-text {
        margin-top: 2vh;
        max-width: inherit;
        width: inherit;
        display: block;
        margin-bottom: 1.770vmax;
    }
}