.dresses {
    @include paddingSectionsNarrow;
    // height: 100vh;
    background-image:  url('../../../assets/backgrounds/dresses-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider {
    position: relative;


    .slider__items-list {
        justify-content: center;
        align-items: center;
    }

    .item {
        position: relative;
    }

    .item-img img {
        width: 31.770vmax;
        border-radius: 50%;
    }
    
    .item-title {
        display: block;
        text-align: center;
        font-family: 'Antic Didone', serif;
        font-size: 3.541vmax;
        font-weight: normal;
        transform: translateY(-6.8vmax);
    }

    .item-collection {
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-size: 1.145vmax;
        font-weight: 300;
        position: absolute;
        right: -3vmax;
        bottom: 4vmax;

        &::before {
            content: '-';
            display: inline-block;
            margin-right: 0.145vmax;
            color: inherit;
            font-size: inherit;
        }
    }

    .slider__controllers {
        position: absolute;
        bottom: -1.041vmax;
        left: 50%;
        display: flex;
        transform: translate(-50%, 0);
        
        .left,
        .right {
            margin: 0 11px;
        }
    }
}




.rgbShiftSlider {
    opacity: 0.85;
    width: 31.770vmax;
    height: 31.770vmax;
    overflow: hidden;
    /*transform-origin : 50vw 300vh;*/
    transform-origin: 50% 50%;
    border-radius: 50%;
    

    canvas {
        position: absolute;
        // left: 0;
        // top: 0;
        z-index: 0;
        width: 31.770vmax;
        height: 31.770vmax;
        border-radius: 50%;
    }
}

