
.intro {
    padding-top: 13.020vh;
    padding-bottom: 5.006vh;
    height: 100vh;
    background-image: url('../../assets/backgrounds/intro-background.jpg');
    background-size: cover;
    background-position: center center;
}

.intro__description {
    margin-top: 19.375vh;
    margin-bottom: auto;
}

.intro__description svg {
    margin-bottom: 1.770vh;
    width: 25.989vmax;
    height: 7.5vmax;
}

.intro__btn {
    margin-bottom: 5.052vh;
}

.intro__description-text {
    max-width: 41.093vw;
    font-size: 1.145vmax;
    line-height: 1.66vmax;
    font-weight: normal;
}

.scroll {
    position: absolute;
    width: 5.677vw;
    bottom: 5vmin;
}