
.intro {
    position: relative;
    padding-top: 13.020vh;
    padding-bottom: 5.729vmax;
    background-image: url('../../assets/backgrounds/intro-background.jpg');
    background-size: cover;
    background-position: center center;
}

.intro__description {
    margin-top: 8.375vh;
    margin-bottom: 8.375vh;
}

.intro__description img {
    margin-bottom: 3.229vmax;
    width: 25.989vmax;
    height: 7.5vmax;
}

.intro__center {
    margin-bottom: 3.177vmax;

    .intro__line {
        margin-right: 1.614vmax;
        width: 12.187vmax;
        height: 0.156vmax;
        border-radius: 0.520vmax;
        background-color: $red;
    }
}

.intro__description-text {
    max-width: 31.770vw;
    font-size: 0.833vmax;
    line-height: 1.145vmax;
    font-weight: normal;
}

.scroll {
    position: absolute;
    width: 5.677vw;
    bottom: 3.802vmin;
    left: calc(50% - 2.838vw);
    white-space: nowrap;

    & .scroll-img {
        margin-top: 0.773vh;
        text-align: center;
    }
}