.products {
    padding-bottom: 5.729vmax;
}

.products__title {
    margin-bottom: 1.458vmax;
    font-size: 2.187vmax;
    line-height: 2.552vmax;
}

.products__subtitle {
    margin-bottom: 0.833vmax;
    font-size: 1.145vmax;
    line-height: 1.354vmax;
    font-weight: 500;
}

.products__description-text {
    margin-bottom: 2.812vmax;
    max-width: 49.531vmax;
    width: 100%;
    font-size: 1.145vmax;
    line-height: 1.354vmax;
    font-weight: normal;
}


.products__filter {
    margin-bottom: 2.995vmax;
    border-bottom: 1px solid #434141;
}

.filter-button {
    outline: none;
    // transition: all .2s;

    &:focus {
        outline: none;
    }
}

.products-list {
    margin-right: -30px;

    .card {
        cursor: pointer;
    }
}

.card {
    margin-bottom: 1.718vmax;
    // max-width: 19.895vw;
    max-width: calc(25% - 30px);
    width: 100%;
    // flex-basis: 25%;
    height: auto;

    .card-img  {
        border-radius: 0.208vmax;

         img {
            width: 19.895vmax;
            border-radius: 0.208vmax;
        }
        
    }

    .card-title {
        max-width: 60%;
    }

    .card__info-top {
        margin-top: 1.041vmax;
        margin-bottom: 0.967vmax;
        width: inherit;
        font-size: 1.145vmax;
        line-height: 1.354vmax;
        font-weight: bold;
    }

    .card__info-bottom {
        margin-bottom: 1.145vmax;
        color: #7E8082;
        font-weight: normal;

        .card-width {
            margin-right: 1.145vmax;
        }
    }
}

.products__more {
    display: block;
    margin: 1.845vmax auto 0;
}

.visible_item {
    display:none;
}