.team {
    @include paddingSectionsNarrow;
    position: relative;
    color: #000;
    background-image: url('../../../assets/backgrounds/team-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;

    
    
}

.team,
.about {
    .card,
    .card--photo {
        position: relative;
       max-width: 19.895vw;
       width: 100%;
        height: 25.416vmax;
        
    
        .card-img img  {
            & img {
                width: 19.687vw;
                height: 25.416vmax;
                border-radius: 0.208vmax;
            }
        }
    
        .card-text {
            position: absolute;
            bottom: 1.770vmax;
            left: 1.770vmax;
    
            .card-name {
                margin-bottom: 0.312vh;
                font-size: 1.354vmax;
                line-height: 1.927vmax;
                font-weight: bold;
                color: #fff;
            }
    
            .card-appointment {
                color: $red;
            }
        }
    }
}

.team-box {
    padding-top: 4.687vmax;
    padding-bottom: 7.657vmax;
    background-color: #fff;
    border-radius: 0.312vmax;
}

.team__description {
    margin-top: 7.447vmax;

    .team__title {
        margin-bottom: 1.770vmax;
        font-size: 2.187vmax;
        line-height: 2.552vmax;
        font-weight: bold;
    }

    .team__description-text {
        margin-bottom: 1.770vmax;
        max-width: 31.770vmax;
        width: 100%;
        font-weight: normal;
        font-size: 1.145vmax;
        line-height: 1.354vmax;
    }

    .team__btn {
        font-size: 1.145vmax;
    }
}




// TEAM SLIDER

.team__members {
    position: relative;
    width: auto;
    height: auto;
}

.team__members-list {
    width: 42.291vmax;
}



.card {
    position: relative;
   max-width: 19.895vw;
   width: 100%;
    height: 25.416vmax;
    

    .card-img img  {
        & img {
            width: 19.687vw;
            height: 25.416vmax;
            border-radius: 0.208vmax;
        }
    }

    .card-text {
        position: absolute;
        bottom: 1.770vmax;
        left: 1.770vmax;

        .card-name {
            margin-bottom: 0.312vh;
            font-size: 1.354vmax;
            line-height: 1.927vmax;
            font-weight: bold;
            color: #fff;
        }

        .card-appointment {
            color: $red;
        }
    }
}

