.team {
    @include paddingSectionsNarrow;
    position: relative;
    background-image: url('../../../assets/backgrounds/team-background.png');
    height: 100vh;
    color: #000;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 50vh;
    }
}

.team-box {
    @include paddingCard;
    height: 78.958vh;
    background-color: #fff;
    border-radius: 0.312vmax;
}

.team__description {
    margin-top: 7.447vmax;

    .team__title {
        margin-bottom: 1.145vh;
        font-size: 2.187vmax;
        line-height: 2.552vmax;
        font-weight: bold;
    }

    .team__description-text {
        margin-bottom: 1.770vh;
        max-width: 31.770vmax;
        width: 100%;
        font-weight: normal;
        font-size: 1.145vmax;
        line-height: 1.354vmax;
    }
}




// TEAM SLIDER

.team__members {
    position: relative;
    width: auto;
    height: auto;
}

.team__members-list .card {
    margin-left: 2.916vmin;
}


.card {
    position: relative;
    width: auto;
    height: 25.416vmax;
    

    .card-img img  {
        & img {
            width: 19.687vw;
            height: 25.416vmax;
            border-radius: 0.208vmax;
        }
    }

    .card-text {
        position: absolute;
        bottom: 1.770vh;
        left: 1.770vw;

        .card-name {
            margin-bottom: 0.312vh;
            font-size: 1.354vmax;
            line-height: 1.927vmax;
            font-weight: bold;
            color: #fff;
        }

        .card-appointment {
            color: $red;
        }
    }
}

// SLIDER CONTROLLERS

.team__members-controller {
    position: absolute;
    bottom: -11.50vh;
    left: 1.3vw;

    .left {
        display: block;
        margin-right: 1.145vw;
    }
}