#product-request-modal {
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-background {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1009;
    }

    .modal-order {
        position: relative;
        padding: 2.864vmax 5vmax;
        display: block;
        background-color: rgba(14, 14, 14, 0.9);
        border-radius: 0.208vmax;
        z-index: 10100;
    }
}

