.delivery-modal {
    margin: 0 auto;
    position: relative;
    display: block;
    max-width: 56.822vmax;
    padding: 2.916vw;
    background-color: #000;
    max-height: 100vh;
    overflow-y: auto;

    .modal__title {
        margin-bottom: 1.458vmax;
        font-size: 1.770vmax;
        font-weight: bold;
    }

    .modal__subtitle {
        margin-bottom: 1.770vmax;
        font-size: 1.145vmax;
        line-height: 1.354vmax;
        font-weight: 500;
    }

    .modal__description {
        font-size: 1.145vmax;
        line-height: 1.354vmax;
        font-weight: normal;
    }

    .modal__chapter {
        font-size: 1.145vmax;
        line-height: 1.354vmax;
        color: $red;
    }
}

.modal-close {
    position: absolute;
    top: 2vh;
    right: 2vw;
    outline: none;

    svg {
      width: 1.770vmax;
      height: 1.770vmax;
    }
}


html.modal-active, body.modal-active {
    overflow: hidden;
  }

#delivery-modal .modal-background,
#product-request-modal .modal-background {
    display: block;
    background: rgba(0, 0, 0, 0.2);
  }

// #delivery-modal.delivery-details,
// .overlay#btn-order {
//     transform: scaleY(0.01) scaleX(0);
//     animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//   }
//   #delivery-modal.delivery-details .modal-background .delivery-modal,
//   .overlay#btn-order .modal-background .modal-order {
//     transform: scale(0);
//     animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//   }
//   #delivery-modal.delivery-details.out,
//   .overlay#btn-order.out {
//     transform: scale(1);
//     animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//   }
//   #delivery-modal.delivery-details.out .modal-background .delivery-modal,
//   .overlay#btn-order.out .modal-background .modal-order {
//     animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//   }


#delivery-modal {
    &.delivery-details {
          transform:scaleY(.01) scaleX(0);
          animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

          .modal-background {
              .delivery-modal {
                  transform:scale(0);
                  animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
              }
          }

        &.out {
            transform:scale(1);
            animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                .modal-background {
                    .delivery-modal {
                      animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                    }
                }
        }
    }
}

#product-request-modal {
    &.in {
      transform:scaleY(.01) scaleX(0);
      animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

      .modal-background {
          .modal-order {
              transform:scale(0);
              animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
      }

      &.out {
        transform:scale(1);
        animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            .modal-background {
                .modal-order {
                  animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                }
            }
    }
  }
}


@keyframes unfoldIn {
    0% {
      transform: scaleY(0.005) scaleX(0);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldOut {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(0.005) scaleX(0);
    }
}

@keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}