.btn--little {
    padding: 0.67vmax 1.145vmax;
}

.btn--bigger {
    padding: 0.989vmax 1.145vmax;
}

.btn {
    font-size: 0.83vmax;
    font-weight: 500;
    background-color: $red;
    border-radius: 0.208vmax;
}

