.btn {
    font-size: 0.83vmax;
    font-weight: 500;
    background-color: $red;
    border-radius: 0.208vmax;
}

.btn--little {
    padding: 0.67vmax 1.145vmax;
}

.btn--bigger {
    padding: 0.989vmax 1.145vmax;
}

.btn--big {
    padding: 1.354vmax 1.770vmax;
}

.btn--transparent {
    background-color: transparent;
    border: 0.052vmax solid #4A4A4A;
}

.filter-button {
    padding: 0 0.729vmax;
    font-size: 1.145vmax;
    line-height: 1.770vmax;
    font-weight: 500;
    color: #7E8082;
    transform: translateY(1px);

    &.active {
        color: #fff;
        border-bottom: 2px solid #F63939;
    }
}