.carousel-cell {
    margin-right: 2.916vmax;
    position: relative;
    width: auto;
    height: 25.416vmax;
}



.flickity-viewport {
    width: 100%;
}

// SLIDER CONTROLLERS

.team__members {
    .flickity-prev-next-button {
        position: relative;
    }

    .flickity-button {
        position: absolute;
        width: 2.916vmax;
        height:  2.916vmax;
        transition: ease-in 0.15s;
        
        &:focus,
        &:active {
            outline: none;
        }
    }

    .flickity-button:active svg circle {
        stroke: #E33236;
        box-shadow: inset 3px 2px 3px 3px rgba(0, 0, 0, 0.5);
    }

    .previous {
        left: 0;
    }

    .next {
        left: 4.062vmax;
    }

    .flickity-button:hover svg path {
        stroke: #E33236;
    }
}
