.carousel-cell {
    margin-right: 2.916vmax;
    position: relative;
    width: auto;
    height: 25.416vmax;
}

.flickity-page-dots {
    display: none;
}

.flickity-viewport {
    width: 100%;
}


/* smaller, dark, rounded square */
.flickity-button {
    position: absolute;
    background-color: transparent;
}