.container--wide {
    position: relative;
    margin: 0 auto;
    width: 94.21vw;

}

.container--narrow {
    position: relative;
    margin: 0 auto;
    width: 85vw;
}

.container--modal {
    position: relative;
    margin: 0 auto;
    width: 84.791vw;
}